<!DOCTYPE html>
<html>
<head>
  <title><%= title %</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <% include ../partials/nav %>
 <div class="container">
      <p>Återlämnabil</p>
      <div class="getbilinfo"></div>
      <p>Fill i mätarställning vid återlämnande</p>
      <form action="" name="">
        <p><input type="text" placeholder="Mätarställning i km"></input></p>
        <p></p>
      </form>
      <button type="button">Återlämna</button>
  </div>
</body>
</html>