<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
</head>
<body>
<% include ../partials/navadmin.ejs %>
<div class="flexbox">
	<div class="userlist">
		<p>Lägg till användare</p>
		<form action="" name="">
			<p><input name="" placeholder="Förenamn och Efternamn"></input></p>
			<p><input type="text" name="" placeholder="Telefonenr"></input></p>
			<p><input type="text" name="" placeholder="ID-nummer"></input></p>
			<select id="">
				<option value="">Avdelning</option>
				<option value="">Avdelning</option>
			</select>
		</form>
	</div>
	<div class="userinfo">
		<div class="latillbild">
			<img src="#" alt="bilen">
		</div>	
	</div>
</div>

</body>
</html>