<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
</head>
<body>
<% include ../partials/navadmin.ejs %>
<div class="flexbox">
	<p>Lägg till bil</p>
	<p>Lägg till bil</p>
<div class="flexbox">
	
	<div class="bilinkom">
		<form action="Biltyp" name="">
			<select id="" value="">
				<option value="">-Biltyp</option>
				<option value="1">Lastbil</option>
				<option value="2">Personbil</option>
			</select>
			<select id="Bilmärke" value="">
				<option value="">-Bilmärke</option>
				<option value="1">Volvo</option>
				<option value="2">Saab</option>
				<option value="3">BMW</option>
				<option value="4">Toyota</option>
				<option value="5">Audi</option>
			</select>
			<select id="Bilmodell" value="">
				<option value="">-Bilmodell</option>
				<option value="1">Kombi</option>
				<option value="2">Sedan</option>
			</select>
			<select id="Årsmodell" value="">
				<option value="">-Årsmodell</option>
				<option value="1">2014</option>
				<option value="2">2015</option>
				<option value="3">2016</option>
			</select>
			<select id="Drivhjul" value="">
				<option value="">-Drivhjul</option>
				<option value="1">AWD</option>
				<option value="2"></option>
			</select>
			<select id="Drivmedel" value="">
				<option value="">-Drivmedel</option>
				<option value="1">Diesel</option>
				<option value="2">Bensin</option>
			</select>
			<select id="Växellåda" value="">	
				<option value="">-Växellåda</option>
				<option value="1">Automatic</option>
				<option value="2">Manuel</option>
			</select>
			<select id="Dragkrok" value="">
				<option value="">-Dragkrok</option>
				<option value="1">Ja</option>
				<option value="2">Nej</option>
			</select>
			<input type="text" placeholder="Reg.nr"></input>
			<input type="text" placeholder="Mätarställning"></input>
		</form>
	</div>
</div>
</div>

</body>
</html>