<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2>Lägg till användare</h2>

    <form action="/nyanvandare" method="POST">

    	<label for="anvnamn">Användarnamn:</label><br>
    	<input type="text" name="anvnamn" id="anvnamn" /><br><br>
    	<label for="password">Lösenord:</label><br>
    	<input type="password" name="password" id="password" /><br><br>
      <label for="password">Lösenord igen:</label><br>
      <input type="password" name="password" id="password" /><br><br>
    	<input type="submit" name="login" id="login" value="Lägg till" />

    </form>
  </body>
</html>
