<!DOCTYPE html>

<html>
	<head>
		<title></title>
    	<link rel='stylesheet' href='/stylesheets/style.css' />
  	</head>
  	
  	<body>
    <% include ../partials/navadmin.ejs %>

    	<h1>Service</h1>

    	<table class="besiktningTable">
    		<tr>
    			<td>Bil</td>
    			<td>Datum och Tid</td>
    			<td></td>
    		</tr>

    		<tr>
    			<td>Bil 4</td>
    			<td>4/2 14.30</td>
    			<td><div class="changeButton">Ändra</div></td>
    		</tr>

    		<tr>
    			<td></td>
    			<td></td>
    			<td><div class="changeButton">Ändra</div></td>
    		</tr>

    		<tr>
    			<td></td>
    			<td></td>
    			<td><div class="changeButton">Ändra</div></td>
    		</tr>

    		<tr>
    			<td></td>
    			<td></td>
    			<td><div class="changeButton">Ändra</div></td>
    		</tr>

    	</table>
  	
  	</body>
</html>
