<div class="navdiv">
	<ul class="navbar">
		<li><a href="../anvandare/">Boka</a></li>
		<li><a href="minabokningar">Mina Bokningar</a></li>
		<li><a href="mittkonto">Mitt Konto</a></li>
		<li><a href="felanmalan">Felanmälan</a></li>
	</ul>
</div>
