<div class="navdiv">
	<ul class =navbar>
		<li><a href="/anvandare/">Boka</a></li>
		<li> <a href="/anvandare/minabokningar">Mina Bokningar</a></li>
		<li> <a href="/anvandare/mittkono"></a> Mitt Konto</li>
		<li> <a href="/anvandare/felanmalan">Felanmälan</a></li>
	</ul>
</div>