<div class="navdiv">
	<ul class="navbar">
		<li><a href="/anvandare/">Boka</a></li>
		<li><a href="/anvandare/minabokningar">Mina Bokningar</a></li>
		<li><a href="/anvandare/mittkonto">Mitt Konto</a></li>
		<li><a href="/anvandare/felanmalan">Felanmälan</a></li>
	</ul>
</div>