<div class=navbar>
	<ul class =navbar>
		<li><a href="/anvandare/">Boka</a></li>
		<li> <a href="/anvandare/minabokningar">Mina Bokningar</a></li>
		<li>Mitt Konto</li>
		<li>Felanmälan</li>
	</ul>
</div>