<div class="navdiv">
	<a href="/admin/bokningar">Bokningar</a>
	<a href="/admin/bilar">Bilar</a>
	<a href="/admin/anvandare">Användare</a>
	<a href="/admin/besiktning">Besiktning</a>
	<a href="/admin/service">Service</a>
	<a href="/admin/felanmalningar">Felanmälningar</a>
	<input type="search" name="search" value="" placeholder="search">
</div>
