<div class="navdiv">
	<a href="Bokningar">Bokningar</a>
	<a href="Bilar">Bilar</a>
	<a href="Anvandare">Användare</a>
	<a href="Besiktning">Besiktning</a>
	<a href="Service">Service</a>
	<a href="Felanmalningar">Felanmälningar</a>
	<input type="search" name="search" value="" placeholder="search">
</div>
