<div class="navdiv">
	<a href="bokningar">Bokningar</a>
	<a href="bilar">Bilar</a>
	<a href="anvandare">Användare</a>
	<a href="besiktning">Besiktning</a>
	<a href="service">Service</a>
	<a href="felanmalningar">Felanmälningar</a>
	<input type="search" name="search" value="" placeholder="search">
</div>
