<div class="navdiv">
	<ul class =navbar>
		<li>Bokningar</li>
		<li>Bilar</li>
		<li>Användare</li>
		<li>Besiktning</li>
		<li>Service</li>
		<li>Felanmälningar</li>
		<li><input type="search" name="search" value="" placeholder="search"></li>
	</ul>
</div>