<div class="navdiv">
	<ul class =navbar>
		<li>Boka</li>
		<li>Mina Bokningar</li>
		<li>Mitt Konto</li>
		<li>Felanmälan</li>
		<li><input type="search" name="search" value="" placeholder="search"></li>
	</ul>
</div>