<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Almströms Bilbokning</h1>

    <form action="/" method="post">
      <% if (locals.felId) {%>
        <p> Fel ID</p>
      <%} else if (locals.felPw) {%>
        <p>Fel Lösenord</p>
      <%}%>
    	<label for="anvnamn">Användar-ID:</label><br>
    	<input type="text" name="anvnamn" id="anvnamn" required/><br><br>
    	<label for="password">Lösenord:</label><br>
    	<input type="password" name="password" id="password" required/><br><br>
    	<button>Logga in</button>

    </form>
  </body>
</html>
