body {

  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

}

a {

  color: #00B7FF;

}

img {

	width: 70px;
	height: 70px;

}

.right ul li {

	list-style: none;

}

.bil-container {

	width: 50%;
	margin: 20px;
	padding: 20px;
	border: 1px solid black;

}

.left , .right {

	display: inline-block;

}

.changeButton {

	width: 100px;
	border: 1px solid black;
	border-radius: 3px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	cursor: pointer;
	text-align: center;
}

.besiktningTable tr td {

	width: 200px;

}

.navdiv {

	height: 50px;
	border:5px green solid;
	margin:20px;
	margin:auto;
	width: 950px;
}

.navdiv ul {

	color:green;
	list-style: none;
	margin-left:50px;

}

.navdiv ul {

	color:green;
	list-style: none;
	margin-left:50px;

}

.navdiv ul li {

	float: left;
	margin-left: 20px;
	margin-right: 20px;
}
.flexbox{
	display: -webkit-flex;
    display: flex;
    width: 960px;
    margin: auto;
}
.userlist{
	border:1px solid black;
	width: 200px;
	margin-top: 10px
}
.userinfo{
width: 700px;
margin: 10px;
padding: 30px;
border:1px solid black;
}
.userinfo button{
	float: right;
	margin-top: 100px
}
.userinfo img{
		float: right;
}
.bokdetatil{
	width: 550px;
	height: 70px;
	border:solid black 3px;
}
.bilinfo{
	margin: 20px;
	border: 3px solid black;
  list-style: none;
}
.bilinfo img{
	width: auto;
  height: 150px;
}
