body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

img {

	width: 70px;
	height: 70px;
}

.right ul li {

	list-style: none;

}

.bil-container {

	width: 50%;
	margin: 20px;
	padding: 20px;
	border: 1px solid black;

}

.left , .right {

	display: inline-block;

}

.changeButton {

	width: 100px;
	border: 1px solid black;
	border-radius: 3px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	cursor: pointer;
	text-align: center;
}

.besiktningTable tr td {

	width: 200px;

}

.navdiv {

	height: 50px;
	border:5px green solid;
	margin:20px;
	margin:auto;
	width: 850px;
}

.navdiv ul {

	color:green;
	list-style: none;
	margin-left:50px;

}

.navdiv ul li {

	float: left;
	margin-left: 50px;
	margin-right: 50px;
}