body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.navdiv{
	height: 50px;
	border:5px green solid;
	margin:20px;
	margin:auto;
	width: 950px;
}
.navbar{
color:green;
list-style: none;
margin-left:50px;


}
.navbar li{
	float: left;
	margin-left: 20px;
	margin-right: 20px;
}
.flexbox{
	display: -webkit-flex;
    display: flex;
    width: 960px;
    margin: auto;
}
.userlist{
	border:1px solid black;
	width: 200px;
	margin-top: 10px
}
.userinfo{
width: 700px;
margin: 10px;
padding: 30px;
border:1px solid black;
}
.userinfo button{
	float: right;
	margin-top: 100px
}
.userinfo img{
		float: right;
}
.bokdetatil{
	width: 550px;
	height: 70px;
	border:solid black 3px;
}