<!DOCTYPE html>
<html>
  <head>
    <title>Ändra lösenord</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include ../partials/nav %>

    <div>
        <form action="">
        <h2>Ändra lösenord</h2>
        <lable for="current">Nuvarande:</lable><br>
        <input type="text" name="" id="current"><br><br>
        <lable for="new">Nytt:</lable><br>
        <input type="text" name="" id="new"><br><br>
        <lable for="repeat">Bekräfta nytt:</lable><br>
        <input type="text" name="" id="repeat"><br><br>
        <button>Ändra lösenord</button>
      </form>
    </div>
  </body>
</html>
