<!DOCTYPE html>
<html>
<head>
  <title><%= title %</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <% include ../partials/nav %>
  <div class="container">
      <p>Bilen är nu återlämnad</p>
      <div class="getbilinfo">bilens info som hämtas ifrån databas</div>
      <p>Fyll i mätarställning vid återlämnande</p>
      <div class="kundinfo">
        <p>Resterande privatlån</p>
      </div>
      <button type="button">Tillbaka till mina bokföringar</button>
  
  </div>
</body>
</html>