<!DOCTYPE html>
<html>
  <head>
    <title>Ändra lösenord</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include ../partials/nav %>
    <h1>Fyll i dina önskemål!</h1>
    <div>
        <form action="">
            <label for="from">Fr.o.m:</label>
            <input type="date" name="from" id="from">
            <button>Sök lediga bilar</button>
        </form>
    </div>
  </body>
</html>