<!DOCTYPE html>
<html>
  <head>
    <title>Ändra lösenord</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include ../partials/nav %>
    <h1>Fyll i dina önskemål!</h1>
    <div>
        <form action="">
            <h2>Ändra lösenord</h2>
            <lable for="current">Nuvarande:</lable>
            <input type="text" name="" id="current">
            <lable for="new">Nytt</lable>
            <input type="text" name="" id="new">
            <lable for="repeat">Bekräfta nytt</lable>
            <input type="text" name="" id="repeat">
            <button>Ändra lösenord</button>
        </form>
    </div>
  </body>
</html>