<!DOCTYPE html>
<html>
<head>
  <title>Ändra lösenord</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
  <body>
    <% include ../partials/nav %>
    <h1>Fyll i dina önskemål!</h1>
    <div>
      <form action="" method="post">
        <div>
          <label for="from">Fr.o.m:</label>
          <input type="datetime-local" name="from" id="from" step="900" />
          <label for="tom">T.o.m</label>
          <input type="datetime-local" name="tom" id="tom" step="900" />

        </div>
        <br>
        <div>
          <label for="biltyp">Biltyp</label>
          <select name="biltyp" id="biltyp"><option>
            -Välj-
          </option>
          <option value="smabil">Smaåbil</option>
          <option value="kombi">Kombi</option>
          <option value="suv">Suv</option>
          <option value="transportbil">Transportbil</option>
        </select>
        <label for="drivmedel">Drivmedel</label>
        <select name="drivmedel" id="drivmedel"><option>
          -Välj-
        </option>
        <option value="bensin">Bensin</option>
        <option value="diesel">Diesel</option>
      </select>
      <label for="vaxellada">Växellåda</label>
      <select name="vaxellada" id="vaxellada"><option>
        -Välj-
      </option>
      <option value="automat">Automat</option>
      <option value="manuell">Manuell</option>
    </select>
    <label for="drivhjul">Drivhjul</label>
    <select name="drivhjul" id="drivhjul"><option>
      -Välj-
    </option>
    <option value="4wd">Fyrhjul</option>
    <option value="rwd">Bakhjul</option>
    <option value="fwd">Framhjul</option>
  </select>
  </div>
  <br>
  <div>
    <label for="dragkrok">Dragkrok</label>
    <input type="checkbox" name="dragkrok" id="dragkrok">
    <label for="tjanst">Tjänst</label>
    <input type="radio" name="typ" id="tjanst" value="tjanst">
    <label for="privat">Privat</label>
    <input type="radio" name="typ" id="privat" value="privat">
  </div>
  <br>
  <div><button>Sök lediga bilar</button></div>
  </form>


  <!-- ul li av bilar med boka knapp  -->

  </div>
  </body>
</html>
