<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Aktuella</h1>
    
    <div>
  		<img src="bil.jpg" />

	   	<ul class="bilinfo">
	   		<li>Modell: </li>
	   		<li>Drivmedel:</li>
	   		<li>Växellåda:</li>
	   		<li>Drivhjul:</li>
	   	</ul>
	    	
    </div>

  </body>
</html>