<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    

    <div>
    	<div>
    		<h2>Min profil</h2>
    		<img src="">
    		<div>
    			<p>Anv.id: -------</p>
    			<p>Lösenord: ****</p>
    			<p>Telefonnummer: 070-*******</p>
    		</div>
    		<button>Ändra lösenord</button>
    	</div>
    	<div>
    		<h3>Förbrukade km</h3>
    		<p>Förbrukade k</p>
    	</div>
    </div>
  </body>
</html>
